@import "../../vars.css";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding: 60px 120px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  background: none;
  box-shadow: none;
  flex-direction: row;
  transition: transform 0.3s ease;
  border-radius: 10px;
  margin-bottom: 30px;
}

.container:nth-child(even) {
  flex-direction: row-reverse;
}

.container:hover {
  transform: translateY(-5px);
}

.image {
  width: 600px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0;
}

.content {
  flex: 1;
  max-width: 500px;
  padding-right: 20px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 24px;
  color: var(--color-primary);
}

.description {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 30px;
  margin-top: 6px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: 20px 0;
  list-style: none;
  padding: 0;
  width: 100%;
  margin-bottom: 30px;
  flex-direction: row;
}

.skill {
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 20px;
  background: var(--color-dark);
  color: var(--color-text);
  font-weight: 400;
}

.links {
  display: flex;
  gap: 30px;
  width: 100%;
  margin-top: 26px;
  justify-content: flex-start;
}

.link {
  padding: 10px 25px;
  border-radius: 25px;
  background: var(--color-primary);
  color: var(--color-text);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.link:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 830px) {
  .container, .container:nth-child(even) {
    padding: 40px 20px;
    flex-direction: column;
    text-align: center;
  }

  .image {
    width: 100%;
    max-width: 500px;
    height: auto;
  }

  .content {
    text-align: center;
    padding-right: 0;
  }

  .skills {
    justify-content: center;
  }

  .links {
    justify-content: center;
  }
}
