@import "./vars.css";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overscroll-behavior: none; /* Add this line */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  background-color: var(--color-primary);
}

.App {
  padding-top: var(--navbar-height);
  background-color: var(--color-bg);
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative; /* Add this line */
}

* {
  scrollbar-color: var(--color-secondary) var(--color-dark);
}

::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: var(--color-dark); 
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 6px;
  border: 3px solid lightgray;
}
