:root {
  /* Colors */
  --color-text: #fff;
  --color-primary: #e2b714;
  --color-secondary: #d1d0c5;
  --color-dark: #646669;
  --color-bg: #323437;
  --color-box-black: #1b1c1d;

  /* Fonts */
  --font-roboto: 'Outfit', sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}
